.Navbar {
  background-color: lightblue;
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.logoImg {
  height: 60px;
}
body {
  text-align: center;
}


.form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 30%;
  margin: 0 auto;
}
.transactionsTable {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border-style: double;
  border-color: lightblue;
  border-width: 2px;
  background-color: lightblue;
}
.table {
  width: 80%;
  border-spacing: 10px;
  border-radius: 15px;
  background-color: #e6e4dd;
  box-shadow: rgba(3, 0, 0, 5) 5px 10px 10px;
  padding: 5px;
}
.table > tbody {
  background-color: white;
}
.transactions-background {
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  margin: 50px;
  border-style: double;
}
.totalAmt-container {
  background-color: lightblue;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 2%;
}
.totalAmt-container > h3 {
  background-color: #e6e4dd;
  padding: 10px;
  border-radius: 25%;
  color: white;
  font-size: larger;
  font-weight: bolder;
}
td a {
  text-decoration: none;
  color: black;
}
td a:hover {
  color: lightblue;
  cursor: alias;
  /* transform: scale(1.5); */
}
.navbarLink a {
  text-decoration: none;
  font-weight: bolder;
  color: black;

}


.fancyLi {
  padding: 15px;
  margin: 5px;
  list-style-type: none;
  font-size: 20px;
  font-style: italic;
  font-weight: bolder;
  background-color: white;
  border-radius: 10px;
}
.article {
  border-radius: 10px;
  background: lightblue;
  padding: 10px;
  display: grid;
  width: 50%;
  margin: 10px auto;
}

.buttonsForSingleTransaction {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  width: 50%;
}
.buttonForSingleTransaction {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background-color: lightblue;
  border: none;
}
.buttonForSingleTransaction:hover {
  background-color: white;
  border: 2px solid lightblue;
}